/* ===================================================================================================== */
/* ============================================ Stile dell'header ====================================== */
/* ===================================================================================================== */
header #primo {
    background-image: url("/images/sfondoHeader.png");
    background-size: cover;
    background-repeat: repeat;
    height: 100px;
    align-items: center;
}

/* Barra di Home e Login/Register */
header #primo .navbar {
    background-color: transparent;
    overflow: hidden;
}

header #primo .navbar a {
    float: right; /* Tutti i link sono side-by-side */
    color: black; /* Colore del testo */
    text-align: center;
    text-decoration: none; /* Rimuove l'underline */
    font-size: 1em;
    padding: 42px 40px;
}

/* Cambia lo stile dei link quando ci si passa con il cursore */
header #primo .navbar a:hover {
    color: #3300ff;
}

header #primo .navbar a.logo {
    display: flex;
    float: left;
    padding: 25px 20px;
}

/* Stile della barra di navigazione */
header #secondo {
    padding: 1px;
    background-color: #f2f1f8;;
    text-align: center;
    position: sticky; /* Fissa l'header in alto e lo tiene li' */
    top: 0; /* Specifica fin da dove deve iniziare a essere sticky */
}

header #secondo .navbar {
    overflow: hidden;
    background-color: #f2f1f8;
}

/* Stile dei link nella barra di navigazione */
header #secondo .navbar a {
    float: left; /* Tutti i link sono side-by-side */
    color: black; /* Colore del testo */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none; /* Rimuove l'underline */
    font-size: 1.3em;
}

/* Cambia lo stile dei link quando ci si passa con il cursore */
header #secondo .navbar a:hover {
    color: #3300ff;
}

/* Quando lo screen è largo meno di 400px, i link di navigazione non sono piu' side-by-side,
ma si mettono uno sopra l'altro, rimanendo tutti visibili */
/* DA CORREGGERE */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}


/* ===================================================================================================== */
/* ======================================== Stile del footer =========================================== */
/* ===================================================================================================== */
footer {
	padding: 20px;
	text-align: center;
	background: #202020;
}

/* Contenitore per Ready e Social */
#flex-container-footer {
	display: flex;
	justify-content: space-around;
}

/* titoli Ready e Social */
footer h1 {
	color: white;
	font-size: 2em;
}

/* link sotto Ready */
.links a {
	color: grey;
}

/* Scritta in fondo del copyright */
.copyright {
	color: grey;
	margin: 50px;
}

/* Le 3 icone dei social */
.social>a {
	font-size: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
	margin: 8px;
	color: #fff;
	opacity: 0.75;
}