/* Stile del body */

/* Il box-sizing universale */
* {
	box-sizing: border-box;
}

/* Stile del contenitore delle colonne */
.row {
	display: flex;
	justify-content : space-evenly;
	flex-wrap: wrap;
}

.row:after{
	clear : both;
}

/* Le due colonne side e main sono una diversa dall'altra, ma stanno vicine */

/* Stile della colonna di sinistra (side) */
.side {
	width: 30%;
	background-color: #f1f1f1;
	padding: 20px;
}

/* Stile della colonna di destra (spazioDettagli) */
.spazioDettagli {
	width: 70%;
	background-color: white;
	padding: 20px;
}

/* Stile dello spazio per le recensioni */
.spazioRecensioni {
	flex: 90%;
	background-color: white;
	padding: 20px;
}

/* Quando lo screen è largo meno di 700px, le due colonne non sono piu' side-by-side,
ma si mettono una sopra l'altra, rimanendo tutte visibili */
@media screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}
}

/* Stile di tutti i bottoni */
.btn {
	border: none;
	background-color: inherit;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}

/* Come cambia lo stile dei bottoni quando ci passi sopra col cursore */
.btn:hover {
	background: #E0FFFF;
}

/* Particolare del bottone per recensire */
.recensisci {
	color: black;
}

/* ===================================== spazioDettagli ===================================== */

/* Titolo libro */
h1 {
	font-size: 40px;
}

/* Autore libro */
h2 {
	font-size: 20px;
}

/* Casa Editrice libro */
h3 {
	font-size: 15px;
}

/* Sinossi libro */
p {
	font-size: 15px;
}

/* Per i read more */
#more {
	display: none;
}

/* ===================================== recensioni ===================================== */
.flex-container-singolaRecensione {
	flex-direction: column;
	margin: 50px 200px;
	border: 5px solid red;
	border-radius: 10px;
	padding: 10px;
}

/* per mettere l'immagine e il nome inline */
.flex-container-immagineENomeUtente{
	flex-direction: row;
}

/* per mettere le stelle e il titolo inline */
flex-container-stelleETitoloRecensione{
	flex-direction: row;
}
 /* colore delle stelle piene */
.checked {
  color: orange;
}

.immagineUtenteRecensione {
	margin: 2%;
    max-width:64px;
    max-height:64px;
    width:auto;
    height:auto;
}

.titoloRecensione{
	margin: 2%;
	font-size: 1.5em;
	font-weight: bold;
}

.testoRecensione{
	margin: 2%;
}
