.spazioRisultati h1 .titoloLibro {
	font-size: 20px;
	font-style: italic;
}

.spazioRisultati h2 .dataPubblicazioneLibro {
	font-size: 15px;
}

.spazioRisultati h2 .autoriLibro{
	font-size: 20px;
}

.spazioRisultati p .sinossiLibro {
	font-size: 20px;
}

.spazioRisultati p .isbnLibro{
	font-size: 20px;
}
