@charset "UTF-8";

/* Stile dell'header */
header#home {
	padding: 0px;
	margin: 0px;
	background-color: #e6ecf0;
}

/* Barra di Home e Login/Register */
header#home .navbar {
	background-color: #e6ecf0;
	margin: 0px 300px;
}

header#home .navbar a {
	color: black;
	font-size: 2em;
	height: 50px;
	padding: 5px 100px;
}

/* Stile della barra di navigazione */
.navbar {
	overflow: hidden;
	background-color: #a5d9ef;
}

/* Stile dei link nella barra di navigazione */
.navbar a {
  float: left; /* Tutti i link sono side-by-side */
  color: black; /* Colore del testo */
  text-align: center;
  padding: 14px 20px;
  text-decoration: none; /* Rimuove l'underline */
}

/* Cambia lo stile dei link quando ci si passa con il cursore */
.navbar a:hover {
  color: white;
}

/* Quando lo screen è largo meno di 400px, i link di navigazione non sono piu' side-by-side,
ma si mettono uno sopra l'altro, rimanendo tutti visibili */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/* Il box-sizing universale */
* {
  box-sizing: border-box;
}

/* Stile del contenitore delle colonne */
.row { 
  display: flex;
  flex-wrap: wrap;
}

/* Le due colonne side e main sono una diversa dall'altra, ma stanno vicine */

/* Stile della colonna di sinistra (side) */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Stile della colonna di destra (spazioDettagli) */
.spazioDettagli { 
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Stile dello spazio per le recensioni */
.spazioRecensioni { 
  flex: 90%;
  background-color: white;
  padding: 20px;
}

/* Stile dello spazio per l'elenco dei libri per ogni autore */
.spazioLibri { 
  flex: 90%;
  background-color: white;
  padding: 20px;
}

/* Quando lo screen è largo meno di 700px, le due colonne non sono piu' side-by-side,
ma si mettono una sopra l'altra, rimanendo tutte visibili */
@media screen and (max-width: 700px) {
  .row { 
    flex-direction: column;
  }
}

/* Stile di tutti i bottoni */
.btn {
	border: none;
	background-color: inherit;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}

/* Come cambia lo stile dei bottoni quando ci passi sopra col cursore */
.btn:hover {
	background: #E0FFFF;
}

/* Particolare del bottone per recensire */
.recensisci {
	color: black;
}

/* Lo stile di tutti i bottoni social */
.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

/* Come cambia lo stile dei bottoni social quando ci passi sopra col cursore */
.fa:hover {
	opacity: 0.7;
}

/* Set di uno specifico colore per ogni social */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* Instagram */
.fa-instagram {
  background: #ea4c89;
  color: white;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

p{
  font-size: 15px;
}

/* Per i read more */
#more {display: none;}

/* Footer iframe */
iframe {
	height:300px;
    width: 100%;
    object-fit: cover;
}


