<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div
	th:insert="fragments/headerFooter.html :: head('Scegli Curatore da Eliminare')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>
	
	SCEGLI IL CURATORE DA ELIMINARE:
	<li th:each="curatore : ${curatori}"><a
		th:href="@{'/admin/eliminaCuratore' + '/' + ${curatore.id}}"
		th:text="|${curatore.nome} ${curatore.cognome}|">Nome del curatore</a></li>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>