<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('Modifica Artista')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>

	<div>
		<h1>Modifica Artista</h1>
	</div>
	<form th:action="@{/admin/inserisciArtistaModificato}" method="POST"
		th:object="${artista}" enctype="multipart/form-data">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			<div>
				<span></span> <span><input name="idArtistaEsistente" type="hidden"
					th:field="*{id}" th:value="*{id}" /></span>
			</div>
			<div>
				<span><input name="oldFileName" type="hidden"
					th:value="*{immagine}" /></span>
			</div>
			<br>
			<div>
				<span>Nome:</span> <span><input name="nome" type="text"
					th:field="*{nome}" required /></span> <span
					th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
					th:style="'color:red'"></span>
			</div>
			<br>
			<div>
				<span>Cognome:</span> <span><input name="cognome" type="text"
					th:field="*{cognome}" required /></span> <span
					th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"
					th:style="'color:red'"></span>
			</div>
			<br>
			<div>
				<span>Data Nascita:</span> <span><input name="dataNascita"
					th:field="*{dataNascita}" type="date" required /></span>
			</div>
			<br>
			<div>
				<span>Luogo Nascita:</span> <span><input name="luogoNascita"
					th:field="*{luogoNascita}" type="text" required /></span> <span
					th:if="${#fields.hasErrors('luogoNascita')}"
					th:errors="*{luogoNascita}" th:style="'color:red'"></span>
			</div>
			<br>
			<div>
				<span>Data Morte:</span> <span><input name="dataMorte"
					th:field="*{dataMorte}" type="date" /></span>
			</div>
			<br>
			<div>
				<span>Luogo Morte:</span> <span><input name="luogoMorte"
					th:field="*{luogoMorte}" type="text" /></span>
			</div>
			<br>
			<div>
				<span>Nazionalita:</span> <span><input name="nazionalita"
					th:field="*{nazionalita}" type="text" /></span> <span
					th:if="${#fields.hasErrors('nazionalita')}"
					th:errors="*{nazionalita}" th:style="'color:red'"></span>
			</div>
			<br>
			<div>
				<label>Opera: </label> <select name="idOpera">
					<option th:value="0" text="Please Select"></option>
					<option th:each="opera : ${opere}" th:text="${opera.titolo}"
						th:value="${opera.id}"></option>
				</select>
			</div>
			<br>
			<div>
				<label>Immagine: </label> <input type="file" name="fileImage"
					id="fileImage" />
			</div>
			<br>
			<div>
				<span><button type="submit">Modifica</button></span>
			</div>
		</div>
	</form>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>


</body>
</html>