<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('Scegli Collezione da Modificare')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>
	
	SCEGLI LA COLLEZIONEE DA MODIFICARE:
	<li th:each="collezione : ${collezioni}">
		<a th:href="@{'/admin/formModificaCollezione' + '/' + ${collezione.id}}" th:text="${collezione.nome}">Nome della Collezione</a>
	</li>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>