<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('Scegli Opera da Modificare')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>
	
	SCEGLI L'OPERA DA MODIFICARE:
	<li th:each="opera : ${opere}">
		<a th:href="@{'/admin/formModificaOpera' + '/' + ${opera.id}}" th:text="${opera.titolo}">Titolo dell'opera</a>
	</li>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>