<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div
	th:insert="fragments/headerFooter.html :: head('Collega Libro CasaEditrice')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>

	<div>
		<h1>Seleziona Libro e Casa Editrice da collegare</h1>
	</div>
	<form th:action="collegaLibroCasaEditrice" method="POST">
		<div>
			Seleziona il Libro: <select name="isbn">
				<option th:each="libro : ${libri}" th:text="${libro.titolo}"
					th:value="${libro.isbn}"></option>
			</select> Seleziona la CasaEditrice: <select name="id">
				<option th:each="casaEditrice : ${caseEditrici}" th:text="${casaEditrice.nome}"
					th:value="${casaEditrice.id}"></option>
			</select>
			<div>
				<span><button type="submit">Collega</button></span>
			</div>
		</div>
	</form>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>