<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div
	th:insert="fragments/headerFooter.html :: head('Collega Libro Autore')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>

	<div>
		<h1>Selezione Libro e Autore da collegare</h1>
	</div>
	<form th:action="collegaLibroAutore" method="POST">
		<div>
			Seleziona il Libro: <select name="isbn">
				<option th:each="libro : ${libri}" th:text="${libro.titolo}"
					th:value="${libro.isbn}"></option>
			</select> Seleziona l'Autore: <select name="id">
				<option th:each="autore : ${autori}" th:text="${autore.nomeCognome}"
					th:value="${autore.id}"></option>
			</select>
			<div>
				<span><button type="submit">Collega</button></span>
			</div>
		</div>
	</form>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>