<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('Elimina Autore')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"> </header>
	SCEGLI L'AUTORE DA ELIMINARE:
	<li th:each="autore : ${autori}"><a
		th:href="@{'/admin/eliminaAutore' + '/' + ${autore.id}}"
		th:text="${autore.nomeCognome}">Nome dell'autore</a></li>

	<footer th:replace="fragments/headerFooter.html :: footer"> </footer>

</body>
</html>