<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('Elimina Casa Editrice')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"> </header>
	SCEGLI LA CASA EDITRICE DA ELIMINARE:
	<li th:each="casaEditrice : ${caseEditrici}">
		<a th:href="@{'/eliminaCasaEditrice' + '/' + ${casaEditrice.id}}" th:text="${casaEditrice.nome}">Nome della CasaEditrice</a>
	</li>

	<footer th:replace="fragments/headerFooter.html :: footer"> </footer>

</body>
</html>