<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('InserisciCasaEditrice')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>

	<div>
		<h1>Inserisci Casa Editrice</h1>
	</div>
	<form th:action="@{/inserisciCasaEditrice}" method="POST"
		th:object="${casaEditrice}">
		<div>
			<div>
				<span>ID (autogenerato):</span> <span><input name="id" type="text"
					th:field="*{id}" /></span>
			</div>
			<div>
				<span>Nome:</span> <span><input name="nome" type="text"
					th:field="*{nome}" required /></span>
			</div>
			<div>
				<span>Nazionalita:</span> <span><input name="nazionalita"
					type="text" th:field="*{nazionalita}" required /></span>
			</div>
			<div>
				<span>Sede:</span> <span><input name="sede" type="text"
					th:field="*{sede}" required /></span>
			</div>
			<div>
				<span>Sito web:</span> <span><input name="website"
					type="text" th:field="*{website}" required /></span>
			</div>
			<div>
				<span>Data Fondazione:</span> <span><input
					name="dataFondazione" type="date" th:field="*{dataFondazione}"
					required /></span>
			</div>
			<div>
				<span><button type="submit">Inserisci</button></span>
			</div>
		</div>
	</form>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>