<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('Inserisci Libro')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>


	<div>
		<h1>Inserisci Libro</h1>
	</div>
	<form th:action="@{/inserisciLibro}" method="POST" th:object="${libro}"
		enctype="multipart/form-data">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			<div>
				<span>ISBN: </span><span><input name="isbn" type="text"
					th:field="*{isbn}" required /></span> <span
					th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"
					th:style="'color:red'"></span>

			</div>
			<br>
			<div>
				<span>Titolo:</span> <span><input name="titolo" type="text"
					th:field="*{titolo}" required /></span> <span
					th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"
					th:style="'color:red'"></span>

			</div>
			<br>
			<div>
				<span>Sinossi:</span> <span><input name="sinossi" type="text"
					th:field="*{sinossi}" required /></span>
			</div>
			<br>
			<div>
				<span>Data Pubblicazione:</span> <span><input
					name="dataPubblicazione" type="date"
					th:field="*{dataPubblicazione}" /></span>
			</div>
			<br>
			<div>
				<span>Genere:</span>
				<ul class="checkbox">
					<li><input type="radio" id="fantasy" name="genere"
						th:value="Fantasy" th:field="*{genere}"> <label
						th:for="fantasy" th:text="#{genere.fantasy}">Fantasy</label></li>
					<li><input type="radio" id="giallo" name="genere"
						th:value="Giallo" th:field="*{genere}"> <label
						th:for="giallo" th:text="#{genere.giallo}">Giallo</label></li>
					<li><input type="radio" id="rosa" name="genere"
						th:value="Rosa" th:field="*{genere}"> <label th:for="rosa"
						th:text="#{genere.rosa}">Rosa</label></li>
					<li><input type="radio" id="horror" name="genere"
						th:value="Horror" th:field="*{genere}"> <label
						th:for="horror" th:text="#{genere.horror}">Horror</label></li>
					<li><input type="radio" id="saggio" name="genere"
						th:value="Saggio" th:field="*{genere}"> <label
						th:for="saggio" th:text="#{genere.saggio}">Saggio</label></li>
				</ul>
			</div>
			<br>
			<div>
				Casa editrice: <select name="idCasaEditrice">
					<option th:value="*{casaEditrice?.id}" text="Please Select"></option>
					<option th:each="casaEditrice : ${caseEditrici}"
						th:text="${casaEditrice.nome}" th:value="${casaEditrice.id}"></option>
				</select>
			</div>
			<br>
			<div>
				Autore: <select name="idAutore">
					<option th:value="0" text="Please Select"></option>
					<option th:each="autore : ${autori}"
						th:text="${autore.nomeCognome}" th:value="${autore.id}"></option>
				</select>
			</div>
			<br>
			<div>
				<span><input name="oldFileName" type="hidden"
					th:value="*{copertina}" /></span>
			</div>
			<div>
				<label>Copertina: </label> <input type="file" name="fileImage"
					id="fileImage" />
				<!-- Ogni estensione di file image -->
			</div>
			<br>
			<div>
				<span><button type="submit">Inserisci</button></span>
			</div>
			<br>
		</div>
	</form>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>


</body>
</html>