<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div
	th:insert="fragments/headerFooter.html :: head('Inserisci Casa Editrice')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>

	<div>
		<h1>Inserisci Casa Editrice</h1>
	</div>
	<form th:action="@{/admin/inserisciCasaEditrice}" method="POST"
		th:object="${casaEditrice}" enctype="multipart/form-data">
		<div>
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>
			<div>
				<span><input name="id" type="hidden" th:field="*{id}" /></span>
			</div>
			<div>
				<span><input name="logo" type="hidden" th:field="*{logo}" /></span>
			</div>
			<div>
				<span><input name="libri" type="hidden" th:field="*{libri}" /></span>
			</div>
			<br>

			<div>
				<span>Nome:</span> <span><input name="nome" type="text"
					th:field="*{nome}" required /></span> <span
					th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
					th:style="'color:red'"></span>
			</div>
			<br>

			<div>
				<span>Nazionalita':</span> <span><input name="nazionalita"
					type="text" th:field="*{nazionalita}" required /></span> <span
					th:if="${#fields.hasErrors('nazionalita')}"
					th:errors="*{nazionalita}" th:style="'color:red'"></span>
			</div>
			<br>

			<div>
				<span>Sede:</span> <span><input name="sede" type="text"
					th:field="*{sede}" required /></span> <span
					th:if="${#fields.hasErrors('sede')}" th:errors="*{sede}"
					th:style="'color:red'"></span>
			</div>
			<br>

			<div>
				<span>Sito web:</span> <span><input name="website"
					type="text" th:field="*{website}" required /></span> <span
					th:if="${#fields.hasErrors('website')}" th:errors="*{website}"
					th:style="'color:red'"></span>
			</div>
			<br>

			<div>
				<span>Data Fondazione:</span> <span><input
					name="dataFondazione" type="date" th:field="*{dataFondazione}"
					required /></span>
			</div>
			<br>
			<div>
				Libro: <select name="isbnLibro">
					<option th:each="libro : ${libri}" th:text="${libro.titolo}"
						th:value="${libro.isbn}"></option>
				</select>
			</div>
			<br>
			<div>
				<label>Logo: </label> <input type="file" name="fileImage"
					id="fileImage" />
				<!-- Ogni estensione di file image -->
			</div>
			<br>
			<div>
				<span><button type="submit">Inserisci</button></span>
			</div>
		</div>
	</form>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>