<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('InserisciLibro')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>


	<div>
		<h1>Inserisci Libro</h1>
	</div>
	<form th:action="inserisciLibro" method="POST" th:object="${libro}">
		<div>
			<div>
				<span>ISBN:</span> <span><input name="isbn" type="text"
					th:field="*{isbn}" required /></span>
			</div>
			<div>
				<span>Titolo:</span> <span><input name="titolo" type="text"
					th:field="*{titolo}" required /></span>
			</div>
			<div>
				<span>Sinossi:</span> <span><input name="sinossi" type="text"
					th:field="*{sinossi}" required /></span>
			</div>
			<div>
				<span>Data Pubblicazione:</span> <span><input
					name="dataPubblicazione" type="date"
					th:field="*{dataPubblicazione}" /></span>
			</div>
			<span>Genere:</span> <span><input
					name="genere" type="text"
					th:field="*{genere}" /></span>
			</div>
			<div>
				<span><button type="submit">Inserisci</button></span>
			</div>
		</div>
	</form>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>


</body>
</html>