<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('Modifica Autore')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>
	SCEGLI L'AUTORE DA MODIFICARE:
	<li th:each="autore : ${autori}">
		<a href="formModificaAutore.html" th:href="@{'/formModificaAutore' + '/' + ${autore.id}}" th:text="${autore.nomeCognome}">Nome dell'autore</a>
	</li>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>