<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('Pannello')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>
	
	<br>
	INSERISCI:
	<div>
		<a th:href="@{/admin/paginaInserisciLibro}">Inserisci Libro</a>
	</div>
	<div>
		<a th:href="@{/admin/paginaInserisciAutore}">Inserisci Autore</a>
	</div>
	<div>
		<a th:href="@{/admin/paginaInserisciCasaEditrice}">Inserisci Casa Editrice</a>
	</div>
	MODIFICA:
	<div>
		<a th:href="@{/admin/paginaScegliLibroDaModificare}">Modifica Libro</a>
	</div>
	<div>
		<a th:href="@{/admin/paginaScegliAutoreDaModificare}">Modifica Autore</a>
	</div>
	<div>
		<a th:href="@{/admin/paginaScegliCasaEditriceDaModificare}">Modifica Casa Editrice</a>
	</div>
	ELIMINA:
	<div>
		<a th:href="@{/admin/paginaEliminaLibro}">Elimina Libro</a>
	</div>
	<div>
		<a th:href="@{/admin/paginaEliminaAutore}">Elimina Autore</a>
	</div>
	<div>
		<a th:href="@{/admin/paginaEliminaCasaEditrice}">Elimina Casa Editrice</a>
	</div>
	COLLEGA:
	<div>
		<a th:href="@{/admin/paginaCollegaLibroAutore}">Collega un Libro ad un Autore</a>
	</div>
	<div>
		<a th:href="@{/admin/paginaCollegaLibroCasaEditrice}">Collega un Libro ad una
			Casa Editrice</a>
	</div>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>