<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('Area Utente')"></div>
<link href="/css/areaUtenteStyle.css" rel="stylesheet">
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>

	<br>
	<h1>I tuoi dati:</h1>
	<div>
		<span>Username: </span> <span th:text="${user?.username}"></span>
	</div>
	<div>
		<span>Nome: </span> <span th:text="${user?.nome}"></span>
	</div>
	<div>
		<span>Cognome: </span> <span th:text="${user?.cognome}"></span>
	</div>
	<br>
	<div>
		<a
			th:href="@{'/paginaModificaDatiLettore' + '/' + ${#authentication.getName()}}">Modifica
			dati</a>
	</div>
	<br>
	<div>
		<a th:href="@{/logout}">Logout</a>
	</div>
	<br>
	<div>
		<a
			th:href="@{'/paginaSelezionaImmagineLettore' + '/' + ${#authentication.getName()}}">Cambia
			immagine</a>
	</div>
	<div>
		<img th:src="@{${user?.immagineImagePath}}" alt="Immagine profilo" />
	</div>
	<br>
	<h1>Le tue collezioni preferite:</h1>
	<br>
	<th:block th:each="collezione : ${user?.collezioniPreferite}">
	</th:block>
	<br>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>