<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('Area Utente')"></div>
<link href="/css/areaUtenteStyle.css" rel="stylesheet">
<link href="/css/recensioniStyle.css" rel="stylesheet">
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>

	<!-- Area dei dati dell'utente Lettore -->
	<div class="container">
		<div class="avatar">
			<img th:src="@{${lettore.immagineImagePath}}" alt="Immagine profilo" />
		</div>
		<div class="area-dati">
			<h1>I tuoi dati:</h1>
			<div class="dati">
				<ul>
					<li>Username: <span th:text="${lettore.username}"> </span></li>
					<li>Nome: <span th:text="${lettore.nome}"> </span></li>
					<li>Cognome: <span th:text="${lettore.cognome}"> </span></li>
					<li><button type="button">
						<a th:href="@{'/paginaModificaDatiLettore' + '/' + ${#authentication.getName()}}">
						Modifica dati</a></button></li>
					<li><button type="button">
						<a th:href="@{'/paginaSelezionaImmagineLettore' + '/' + ${#authentication.getName()}}">
						Cambia immagine</a></button></li>
					<li><button type="button" id="logout">
						<a th:href="@{/logout}">Logout</a>
						</button></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Area delle recensioni dell'utente Lettore -->
	<div class="area-recensioni">
	<h1>Le tue recensioni:  (<span th:text=${#lists.size(lettore.recensioni)}> Num </span>)</h1>
	<br>
	<div class="recensioniUtente">
		<th:block th:each="recensione : ${lettore.recensioni}">
			<div class="flex-container-singolaRecensione">
				<a role="button" class="fa fa-pencil" th:href="@{'/modificaRecensione' + '/' + ${recensione.id}}"> </a>
				<a role="button" class="fa fa-trash" th:href="@{'/eliminaRecensione' + '/' + ${recensione.id}}"> </a>
				<a role="button" class="libroRecensito" th:href="@{'/libro' + '/' + ${recensione.libro.isbn}}" th:text=${recensione.libro.titolo}> Titolo libro recensito </a>
				<div class="flex-container-immagineENomeUtente">
					<img th:src="@{${recensione.recensore.immagineImagePath}}"
						alt="Immagine profilo" height="100px" /> <span
						class="autoreRecensione" th:text="${lettore.username}">
						Mario Rossi </span>
				</div>
				<div class="flex-container-stelleETitoloRecensione">
					<span class="stelleRecensione"> <th:block
							th:each="i: ${#numbers.sequence(1, recensione.voto )}">
							<span class="fa fa-star checked"></span>
						</th:block> <th:block th:if="${recensione.voto < 5}"
							th:each="i: ${#numbers.sequence(1, 5 - recensione.voto )}">
							<span class="fa fa-star"></span>
						</th:block>


					</span> <span class="titoloRecensione" th:text="${recensione.titolo}">
						Titolo recensione</span>
				</div>
				<div class="testoRecensione" th:text="${recensione.testo}">
					Testo recensione</div>

			</div>
		</th:block>
	</div>
	</div>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>