<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:insert="fragments/headerFooter.html :: head('CasaEditrice')"></div>
	<link href="/css/casaEditrice.css" rel="stylesheet">
</head>
<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>

	<div class="row">
		<div class="side">
			<img src="img.jpg" alt="Foto1" style="width: 100%">
		</div>
		<div class="spazioDettagli" th:object="${casaEditrice}">
			<h1 th:text="*{nome}">Nome della casa editrice</h1>
			<h2 th:text="*{dataFondazione}">Data di fondazione: oggi</h2>
			<h2>
				<a th:text="*{website}" href="#">Website</a>
			</h2>
			<h2 th:text="*{sede}">Sede: questo indirizzo</h2>
			<h2 th:text="*{nazionalita}">Nazionalita: Atlantide</h2>
		</div>
	</div>
	<a href="#" class="fa fa-facebook"></a>
	<a href="#" class="fa fa-twitter"></a>
	<a href="#" class="fa fa-instagram"></a>
	<div class="spazioLibri">
		<!-- Qua vanno inseriti i filtri -->
		<!-- Qua vanno inserire tutte le box dei libri -->
		<p>Bla bla</p>
	</div>

	
		<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>
