<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:insert="fragments/headerFooter.html :: head(title=${casaEditrice.nome})"> </div>
	<link href="/css/casaEditriceStyle.css" rel="stylesheet">
</head>
<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>

	<div class="row">
		<div class="side">
			<img th:src="@{${casaEditrice.logoImagePath}}" alt="Logo della casa editrice" />
		</div>
		<div class="spazioDettagli">
			<h1><span th:text="${casaEditrice.nome}">Nome</span></h1>
			<h2><span><a th:href="${casaEditrice.website}" th:text="${casaEditrice.website}">Website</a></span></h2>
			<p>È stata fondata nel <b><span th:text="${casaEditrice.dataFondazione}">Data di Fondazione</span></b></p>
			<p>La principale sede è a <b><span th:text="${casaEditrice.sede}">Sede</span></b></p>
		</div>
	</div>
	<div class="spazioLibri">
		<h2>I libri della <span th:text="${casaEditrice.nome}">Nome</span> presenti in Ready</h2>
		<ul>
		<li th:each="libro : ${casaEditrice.libri}">
			<div>
				<h3>
					<div class="titoloLibro">
					<span><a href="libro.html"
					th:href="@{'/libro' + '/' + ${libro.isbn}}"
					th:text="${libro.titolo}">Titolo libro</a></span>
				<span>-</span>
					<span th:text="${libro.dataPubblicazione}">Data Pubblicazione
						libro</span>
					<span>; Edizione: </span> <span th:text="${libro.isbn}">Isbn</span>
				</h3>
			</div>
		</li>
		</ul>
	</div>

	
		<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>
