<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:insert="fragments/headerFooter.html :: head('Libro')"></div>
	<link href="/css/LibroStyle.css" rel="stylesheet">
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>

	<div class="row">
		<div class="side">
			<!-- Qua va lo slideshow delle copertine -->
			<img src="./imm.png" alt="Copertina1"
				style="width: 100%">
			<!-- Questo bottone dovrà portare alla pagina di gestione della recensione -->
			<button class="btn recensisci">Recensisci</button>
			<div class="stelleRecensione">
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
			</div>
		</div>
		<div class="spazioDettagli">
			<!-- Inserire classi o id -->
			<h1>Titolo</h1>
			<div class="stelleRecensione">
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
			</div>
			<h2>Autore</h2>
			<p>
				La gloria di colui che tutto move / pe l'universo penetra e
				risplende / da una parte piu' e meno altrove / nel ciel che piu' di
				sua luce prende / fui io e vidi cose che ridire / ne' sa ne' puo'
				chi di lassu' discende / <span id="dots">...</span><span id="more">
					poiche' appressando se' a suo disiare / nostro intelletto si
					profonda tanto / che dietro la memoria non puo' ire.</span>
			</p>
			<button onclick="myFunction()" id="myBtn">Read more</button>
			<h3>Casa Editrice</h3>
		</div>
	</div>
	
	<div class="spazioRecensioni">
		<!-- Qua vanno inseriti i filtri -->
		<button class="btn recensisci">Recensisci</button>
		<!-- Qua vanno inserire tutte le box delle recensioni -->
			<div class="flex-container-singolaRecensione">
				<div class="flex-container-immagineENomeUtente">
					<img class="immagineUtenteRecensione" src="./imm.png">
					<span class="autoreRecensione">
						Mario Rossi
					</span>
				</div>
				<div class="flex-container-stelleETitoloRecensione">
					<span class="stelleRecensione">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					</span>
					<span class="titoloRecensione">
						Di come Livia ha odiato questo libro e ha deciso di bruciarlo, finendo per dare fuoco alla casa e di dire un sacco di stronzate.
					</span>
				</div>
				<div class="testoRecensione">
					Questo è il testo della recensione, bla bla bla bla !
				</div>
			</div>
			<div class="flex-container-singolaRecensione">
				<div class="flex-container-immagineENomeUtente">
					<img class="immagineUtenteRecensione" src="./imm.png">
					<span class="autoreRecensione">
						Mario Rossi
					</span>
				</div>
				<div class="flex-container-stelleETitoloRecensione">
					<span class="stelleRecensione">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					</span>
					<span class="titoloRecensione">
						Titolo Recensione
					</span>
				</div>
				<div class="testoRecensione">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>
	</div>
	
	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>
