<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('ElencoLibri')"></div>
<link href="/css/ricercaLibriStyle.css" rel="stylesheet">
<link href="/css/ricercaStyle.css" rel="stylesheet">
</head>
<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>


	<div class="row">

		<div class="side">
				<!-- Barra di ricerca -->
				<form th:action="@{/cercaLibroPerTitolo}" th:object="${libro}" method="get">
				<h2>Ricerca per titolo o ISBN:</h2>
				<input type="search" name="titolo" id="titolo" th:value="${titolo}" placeholder="Inserisci un titolo, un ISBN">
				</form>
				<form th:action="@{/cercaLibroPerAutore}" th:object="${libro}" method="get">
				<h2>Ricerca per autore:</h2>
				<input type="search" name="autore" id="autore" th:value="${autore}" placeholder="Inserisci un autore">
				</form>
				<form>
				<h2>Ricerca per casa editrice:</h2>
				<input type="search" placeholder="Inserisci una casa editrice">
				</form>
				
				<!-- Checkboxes di generi -->
				<form th:action="@{/ricercaLibroPerGenere}" th:object="${libro}" method="get">
				<h2>Generi:</h2>
				<ul class="checkbox">
					<li><input type="checkbox" id="fantasy" name="genere" th:value="${genere}">
						<label for="fantasy">Fantasy</label></li>
					<li><input type="checkbox" id="giallo" name="genere" th:value="${genere}">
						<label for="giallo">Giallo</label></li>
					<li><input type="checkbox" id="rosa" name="genere" th:value="${genere}"> <label
						for="rosa">Rosa</label></li>
					<li><input type="checkbox" id="horror" name="genere" th:value="${genere}">
						<label for="horror">Horror</label></li>
					<li><input type="checkbox" id="saggio" name="genere" th:value="${genere}">
						<label for="saggio">Saggio</label></li>
				</ul>
				<button type="submit">Submit</button>

			</form>
		</div>


		<!-- Bottone di ordinamento -->
		<div class="spazioRisultati">
		<div class="dropdown">
			<button class="dropdown-ordina">Ordina per</button>
			<div class="dropdown-content">
				<a href="#">Pertinenza</a> <a href="#">Titolo</a> <a href="#">Voto</a>
				<a href="#">Popolarità</a>
			</div>
		</div>
		<ul>
		<li th:each="libro : ${libri}">
			<div>
				<h1>
					<div class="titoloLibro"> 
					<a th:href="@{'/paginaLibro' + '/' + ${libro.isbn}}" th:text="${libro.titolo}">Titolo libro</a></div>
				</h1>
				<h1>
					<div class="isbnLibro" th:text="${libro.isbn}">ISBN libro</div>
				</h1>
				<h2>
					<div class="dataPubblicazioneLibro"
						th:text="${libro.dataPubblicazione}">Data Pubblicazione
						libro</div>
				</h2>
				<h2>
					<tr th:each="autore : ${libro.autori}">
						<td><span th:text="${autore.nome}"> Nome Autore </span></td>
						<td><span th:text="${autore.cognome}"> Cognome Autore </span></td>
					</tr>
				</h2>
				<p>
				<div class="sinossiLibro" th:text="${libro.sinossi}">Sinossi
					libro</div>
				</p>
			</div>
		</li>
		</ul>


	</div>
	</div>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>


</body>
</html>