<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div
	th:insert="fragments/headerFooter.html :: head('inserisciRecensione')"></div>
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>

	<!-- Form per inserire la recensione  -->
	<form th:action="@{/inserisciRecensione}" method="POST"
		th:object="${recensione}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			<span>Voto:</span> <span><input type=""
				th:field="*{voto}" /></span> <span
				th:if="${#fields.hasErrors('voto')}" th:errors="*{voto}"></span>
		</div>
		<div>
			<span>Titolo:</span> <span><input type="text"
				th:field="*{titolo}" /></span> <span
				th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
		</div>
		<div>
			<span>Testo:</span> <span><input type="text"
				th:field="*{testo}" /></span> <span th:if="${#fields.hasErrors('testo')}"
				th:errors="*{testo}"></span>
		</div>
		<div>
			<span><button type="submit">Inserisci recensione</button></span>
		</div>
	</form>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>