<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div
	th:insert="fragments/headerFooter.html :: head('Inserisci Recensione')"></div>
<link href="/css/inserisciRecensioneStyle.css" rel="stylesheet">
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>

	<!-- Form per inserire la recensione  -->
	<form
		th:action="@{'/inserisciRecensione' + '/' + ${libro.isbn} + '/' + ${#authentication.getName()}}"
		method="POST" th:object="${recensione}" class="mt-5">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errori</p>
		</div>
		<div>
			<span>Voto:</span> <span>
				<div class="rate">
					<input type="radio" id="star5" name="rate" value="5"
						th:field="*{voto}" /> <label for="star5" title="text">5
						stars</label> <input type="radio" id="star4" name="rate" value="4"
						th:field="*{voto}" /> <label for="star4" title="text">4
						stars</label> <input type="radio" id="star3" name="rate" value="3"
						th:field="*{voto}" /> <label for="star3" title="text">3
						stars</label> <input type="radio" id="star2" name="rate" value="2"
						th:field="*{voto}" /> <label for="star2" title="text">2
						stars</label> <input type="radio" id="star1" name="rate" value="1"
						th:field="*{voto}" /> <label for="star1" title="text">1
						star</label>
				</div>
			</span> <span th:if="${#fields.hasErrors('voto')}" th:errors="*{voto}"></span>
		</div>
		<div>
			<span><input name="id" type="hidden" th:field="*{id}" required /></span>
		</div>
		<div>
			<span>Titolo:</span> <span><input type="text"
				th:field="*{titolo}" /></span> <span
				th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"
				th:style="'color:red'"></span>
		</div>
		<div>
			<span>Testo:</span> <span><input type="text"
				th:field="*{testo}" /></span> <span th:if="${#fields.hasErrors('testo')}"
				th:errors="*{testo}" th:style="'color:red'"></span>
		</div>
		<div>
			<span><button type="submit">Inserisci recensione</button></span>
		</div>
	</form>


	<footer th:replace="fragments/headerFooter.html :: footer"></footer>
</body>
</html>