<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div
	th:insert="fragments/headerFooter.html :: head('Inserisci Recensione')"></div>
<link href="/css/inserisciRecensioneStyle.css" rel="stylesheet">
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>
	
	<div class="dettagliLibro">
		<h2>Libro da recensire:</h2>
		<div class="copertinaLibro">
			<img th:src="@{${libro.copertinaImagePath}}" alt="Copertina del libro" height="100px"/>
		</div>
		<div class="titoloLibro" th:text="${libro.titolo}"><h3>Titolo libro</h3></div>
		<div class="autoriLibro">
			<tr th:each="autore : ${libro.autori}">
				<td><span th:text="${autore.nomeCognome}"><h4> Nome e Cognome Autore</h4></span></td>
			</tr>
		</div>
		<div class="isbnLibro" th:text="${libro.isbn}"><h4>ISBN libro</h4></div>
	</div>
	
	<!-- Form per inserire la recensione  -->
	<div class="inserimentoRecensione">
		<form th:action="@{'/inserisciRecensione' + '/' + ${libro.isbn} + '/' + ${#authentication.getName()}}"
		method="POST" th:object="${recensione}" class="mt-5">
		<div class="spazio-voto">
		<span>Voto:</span>
				<div class="rate">
					<input type="radio" id="star5" name="rate" value="5"
						th:field="*{voto}" /> <label for="star5" title="text">5
						stars</label> <input type="radio" id="star4" name="rate" value="4"
						th:field="*{voto}" /> <label for="star4" title="text">4
						stars</label> <input type="radio" id="star3" name="rate" value="3"
						th:field="*{voto}" /> <label for="star3" title="text">3
						stars</label> <input type="radio" id="star2" name="rate" value="2"
						th:field="*{voto}" /> <label for="star2" title="text">2
						stars</label> <input type="radio" id="star1" name="rate" value="1"
						th:field="*{voto}" /> <label for="star1" title="text">1
						star</label>
				</div>
		</div>
		<div class="spazio-recensione">
			<div>
				<span><input name="idRecensioneEsistente" type="hidden" th:value="*{id}" required /></span>
			</div>
			<div>
				<span>Titolo:</span>
					<input type="text" th:field="*{titolo}" /> <span
					th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"
					th:style="'color:red'"></span>
			</div>
			<div>
				<span>Testo:</span>
					<textarea rows="4" cols="50" name="testoRecensione" id="testoRecensione" th:field="*{testo}"></textarea>
					<!--<input id="testoRecensione" type="text" th:field="*{testo}" />-->
					<span th:if="${#fields.hasErrors('testo')}"
					th:errors="*{testo}" th:style="'color:red'"></span>
			</div>
		</div>
		<div>
			<span><button type="submit">Inserisci recensione</button></span>
		</div>
		</form>
	</div>

	<footer th:replace="fragments/headerFooter.html :: footer"></footer>
</body>
</html>