<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('Libro')"></div>
<link href="/css/LibroStyle.css" rel="stylesheet">
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>

	<div class="row">
		<div class="side">
			<!-- Qua va lo slideshow delle copertine -->
			<img src="./imm.png" alt="Copertina1" style="width: 100%">
			<!-- Questo bottone dovrà portare alla pagina di gestione della recensione -->
			<button class="btn recensisci">Recensisci</button>
			<div class="stelleRecensione">
				<span class="fa fa-star checked"></span> <span
					class="fa fa-star checked"></span> <span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span> <span class="fa fa-star"></span>
			</div>
		</div>
		<div class="spazioDettagli" th:object="${libro}">
			<!-- Inserire classi o id -->
			<h1 th:text="*{titolo}">Titolo</h1>
			<h1 th:text="*{isbn}">ISBN</h1>
			<div class="stelleRecensione">
				<span class="fa fa-star checked"></span> <span
					class="fa fa-star checked"></span> <span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span> <span class="fa fa-star"></span>
			</div>
			<h2>Autore</h2>
			<h2 th:text="*{genere}">Genere</h2>
			<p th:text="*{sinossi}"> Sinossi
			</p>
			<button onclick="myFunction()" id="myBtn">Read more</button>
			<h3>Casa Editrice</h3>
			<h3 th:text="*{dataPubblicazione}">Data Pubblicazione</h3>
		</div>
	</div>

	<div class="spazioRecensioni">
		<!-- Qua vanno inseriti i filtri -->
		<div th:object="${libro}">
			<a th:href="@{'/paginaInserisciRecensione' + '/' + ${libro.isbn}}">Inserisci recensione</a>
		</div>

		<!-- Qua vanno inserire tutte le box delle recensioni -->
		<div th:object="${libro}">
			<ul>
				<li th:each="recensione : ${libro.recensioni}">
					<div class="flex-container-singolaRecensione">
						<div class="flex-container-immagineENomeUtente">
							<img class="immagineUtenteRecensione" src="./imm.png"> <span
								class="autoreRecensione" th:text="${recensione.recensore.username}"> Mario Rossi </span>
						</div>
						<div class="flex-container-stelleETitoloRecensione">
							<span class="stelleRecensione"> <th:block
									th:each="i: ${#numbers.sequence(1, recensione.voto )}">
									<span class="fa fa-star checked"></span>
								</th:block> <th:block th:if="${recensione.voto < 5}"
									th:each="i: ${#numbers.sequence(1, 5 - recensione.voto )}">
									<span class="fa fa-star"></span>
								</th:block>


							</span> <span class="titoloRecensione" th:text="${recensione.titolo}">
								Titolo recensione</span>
						</div>
						<div class="testoRecensione" th:text="${recensione.testo}">
							Testo recensione</div>

					</div>
				</li>
			</ul>
		</div>
	</div>





	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>
