<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div
	th:insert="fragments/headerFooter.html :: head(title=${libro.titolo})"></div>
<link href="/css/libroStyle.css" rel="stylesheet">
</head>

<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>

	<div class="row">
		<div class="side">
			<img th:src="@{${libro.copertinaImagePath}}"
				alt="Copertina del libro" />
		</div>

		<div class="spazioDettagli">
			<h1>
				<span th:text="${libro.titolo}">Titolo</span>
			</h1>
			<div class="stelleRecensione">
				<span class="fa fa-star checked"> </span> <span
					class="fa fa-star checked"> </span> <span
					class="fa fa-star checked"> </span> <span class="fa fa-star">
				</span> <span class="fa fa-star"> </span>
			</div>
			<h2>
				<tr th:each="autore : ${libro.autori}">
					<td><a href="autore.html"
						th:href="@{'/autore' + '/' + ${autore.id}}"
						th:text="${autore?.nomeCognome}"> Nome e Cognome Autore </a></td>
				</tr>
			</h2>
			<h2>
				Genere: <span th:text="${libro.genere}">Genere</span>
			</h2>
			<p>
				<span th:text="${libro.sinossi}">Sinossi</span>
			</p>
			<h3>
				<span th:text="${libro?.casaEditrice?.nome}">Casa Editrice</span>
			</h3>
			<p>
				<span th:text="${libro.isbn}">Isbn</span>
			</p>
		</div>
	</div>






	<!--
				La gloria di colui che tutto move / pe l'universo penetra e
				risplende / da una parte piu' e meno altrove / nel ciel che piu' di
				sua luce prende / fui io e vidi cose che ridire / ne' sa ne' puo'
				chi di lassu' discende / <span id="dots">...</span><span id="more">
					poiche' appressando se' a suo disiare / nostro intelletto si
					profonda tanto / che dietro la memoria non puo' ire.</span>
			</p>
			<button onclick="myFunction()" id="myBtn">Read more</button>
			<h3>Casa Editrice</h3>
		</div>
	</div>-->

	<div class="spazioRecensioni">
		<!-- Qua vanno inseriti i filtri -->
		<div th:object="${libro}">
			<a th:href="@{'/paginaInserisciRecensione' + '/' + ${libro.isbn}}">Inserisci
				recensione</a>
		</div>

		<!-- Qua vanno inserire tutte le box delle recensioni -->
		<div th:object="${libro}">
			<ul>
				<th:block th:each="recensione : ${libro.recensioni}">
					<div class="flex-container-singolaRecensione">
						<div class="flex-container-immagineENomeUtente">
							<img th:src="@{${recensione.recensore.immagineImagePath}}"
								alt="Immagine profilo" height="100px" /> <span class="autoreRecensione"
								th:text="${recensione.recensore.username}"> Mario Rossi </span>
						</div>
						<div class="flex-container-stelleETitoloRecensione">
							<span class="stelleRecensione"> <th:block
									th:each="i: ${#numbers.sequence(1, recensione.voto )}">
									<span class="fa fa-star checked"></span>
								</th:block> <th:block th:if="${recensione.voto < 5}"
									th:each="i: ${#numbers.sequence(1, 5 - recensione.voto )}">
									<span class="fa fa-star"></span>
								</th:block>


							</span> <span class="titoloRecensione" th:text="${recensione.titolo}">
								Titolo recensione</span>
						</div>
						<div class="testoRecensione" th:text="${recensione.testo}">
							Testo recensione</div>

					</div>
				</th:block>
			</ul>
		</div>
	</div>





	<footer th:replace="fragments/headerFooter.html :: footer"></footer>

</body>
</html>
