<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('Login')"></div>
<link href="/css/loginStyle.css" rel="stylesheet">
</head>
<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>
	
	<div class="container">
	<div>
		<h4>Login</h4>
	</div>
	<form th:action="@{/login}" method="POST">
		<div>
			<div>
				<span th:if="${logErr}==true" th:text="#{error.login}" th:style="'color:red'"> </span>
			</div>
			<div>
				<!--<span>Username:</span>-->
				<span><input name="username" type="text" placeholder="username" required /></span>
			</div>		
			<div>
				<!--<span>Password:</span>-->
				<span><input name="password" type="password" placeholder="password" required /></span>
			</div>
			<div>
				<span><button type="submit">Login</button></span>
			</div>
		</div>
	</form>
	</div>
	
	<footer th:replace="fragments/headerFooter.html :: footer"></footer>
	
</body>
</html>