<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:insert="fragments/headerFooter.html :: head('Registrazione con Successo')"></div>
<link href="/css/registerSuccessStyle.css" rel="stylesheet">
</head>
<body>

	<header th:replace="fragments/headerFooter.html :: header"></header>
	
	<div class="message">
		<h1>Congratulazioni, ti sei registrato!</h1>
		<h2>Inizia subito a recensire i tuoi libri preferiti, nell'edizione che più ti piace!</h2>
		<h3>Vai subito nella sezione "Libri" e scopri cosa Ready ti può offrire!</h3>
	</div>
	
	<footer th:replace="fragments/headerFooter.html :: footer"></footer>
	
</body>
</html>