<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head(title)">
<meta charset="UTF-8">
<link th:href="@{/css/headerFooterStyle.css}" rel="stylesheet" />
<title th:text="${title}"></title>

<!-- 3 librerie per le icone social -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<!-- Libreria per le icone a stella delle recensioni -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Libreria per la votazione a stelle -->
<link href="dist/css/bootstrap.css" rel="stylesheet">
<script type="text/javascript" src="dist/js/jquery-1.10.2.js"></script>
</head>
<body>

	<header th:fragment="header">
		<div id="primo">
			<div class="navbar">
				<a th:href="@{/ricercaLibri}" class="logo"><img src="/images/logo.png" alt="Ready"
					height="50" width="50"></a>
					<a sec:authorize="hasAuthority('DEFAULT')" th:href="@{'/areaUtente' + '/' + ${#authentication.getName()}}">Area utente</a>
					<a sec:authorize="!isAuthenticated()" th:href="@{/login}">Accedi</a>
					<a sec:authorize="!isAuthenticated()" th:href="@{/register}">Registrati</a>
					<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
			</div>
		</div>
		<div id="secondo">
				<div class="navbar">
					<a th:href="@{/ricercaLibri}">Libri</a>
					<a th:href="@{/ricercaAutori}">Autori</a>
					<a th:href="@{/ricercaCaseEditrici}">Case editrici</a>
				</div>
		</div>
	</header>

	<footer th:fragment="footer">
		<div id="flex-container-footer">
			<div>
				<h1>Ready</h1>
				<div class="links">
					<a href="#">FAQ</a>
				</div>
				<div class="links">
					<a href="#">Contattaci</a>
				</div>
				<div class="links">
					<a href="#">Privacy</a>
				</div>
				<div class="links">
					<a href="#">Termini e condizioni</a>
				</div>
			</div>
			<div>
				<h1>About us</h1>
				<div class="links">
					<a href="#">L'azienda</a>
				</div>
				<div class="links">
					<a href="#">Il team</a>
				</div>
				<div class="links">
					<a href="#">Lavora con noi</a>
				</div>
				<div class="links" sec:authorize="hasAuthority('ADMIN')">
					<a th:href="@{/admin/pannelloAmministratore}">Pannello amministratore</a>
				</div>
			</div>
			<div class="social">
				<h1>Social</h1>
				<a href="#"><i class="icon ion-social-facebook"></i></a> <a href="#"><i
					class="icon ion-social-twitter"></i></a> <a href="#"><i
					class="icon ion-social-instagram"></i></a>
			</div>
		</div>
		<div>
			<p class="copyright">Ready © 2021</p>
		</div>
	</footer>
</body>
</html>