/* ===================================== area dei dati ===================================== */

.container{
	padding: 20px;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	margin-left: 2.5em;
	margin-right: 2.5em;
    border-radius: 0.5em;
	border: 3px solid #3300ff;
    background: #f2f1f8;
    height: 26em;
}

/* Spazio dell'avatar */
.avatar {
	width: 30%;
	height: 30%;
	background-color: transparent;
	align-items: center;
	float: left;
}

/* Reale immagine dell'avatar */
.avatar img {
	height: 17em;
	width: 80%;
	border-radius: 50%;
	object-fit: cover;
}

.area-dati h1 {
	font-size: 2em;
}

.dati ul {
	float: left;
	list-style: none;
}

.dati li {
	font-size: 1.5em;
}

.dati li span {
	font-weight: bold;
}

a, a:hover {
	text-decoration: none;
	color: white;
}

/* ======================================== stile del bottone ======================================== */

button, .fa-pencil, .fa-trash, .libroRecensito {
	background: #000066;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 0.5em;
	font-size: 0.8em;
}

button:hover, .fa-pencil:hover, .fa-trash:hover, .libroRecensito:hover, #logout:hover {
	background: #3300ff;
}

.fa-pencil, .fa-trash {
	width: 10%;
	font-size: 1em;
	text-align: center;
}

.libroRecensito {
	width: 40%;
	font-size: 1em;
	text-align: center;
}

#logout {
	background: linear-gradient(to right, #3300ff, #000066);
}

/* ===================================== recensioni ===================================== */
.area-recensioni {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	margin-left: 2.5em;
	margin-right: 2.5em;
}