/* ===================================================================================================== */
/* ============================================ Stile dell'header ====================================== */
/* ===================================================================================================== */
div#primo {
	padding: 0px;
	margin: 0px;
	background-color: #3B5998;
}

/* Barra di Home e Login/Register */
div#primo .navbar {
	background-color: #3B5998;
	margin: 0px 300px;
}

div#primo .navbar a {
	color: white;
	font-size: 2em;
	height: 50px;
	padding: 5px 100px;
}

/* Stile della barra di navigazione */
header#secondo {
	padding: 1px;
	background-color: #D3D3D3; /*#87CEEB;*/
}

.navbar {
	overflow: hidden;
	background-color: #D3D3D3;
	margin: 0px 300px;
}

/* Stile dei link nella barra di navigazione */
.navbar a {
	font-size: 4em;
	float: left; /* Tutti i link sono side-by-side */
	color: black; /* Colore del testo */
	font-family: 'Brush Script MT', cursive;
	text-align: center;
	padding: 10px 90px;
	text-decoration: none; /* Rimuove l'underline */
}

/* Cambia lo stile dei link quando ci si passa con il cursore */
.navbar a:hover {
	background-color: #E0FFFF;
	color: black;
}

/* Quando lo screen è largo meno di 400px, i link di navigazione non sono piu' side-by-side,
ma si mettono uno sopra l'altro, rimanendo tutti visibili */
@media screen and (max-width: 400px) {
	.navbar a {
		float: none;
		width: 100%;
	}
}


/* ===================================================================================================== */
/* ======================================== Stile del footer =========================================== */
/* ===================================================================================================== */
footer {
	padding: 20px;
	text-align: center;
	background: #202020;
}

/* Contenitore per Ready e Social */
#flex-container-footer {
	display: flex;
	justify-content: space-around;
}

/* titoli Ready e Social */
footer h1 {
	color: white;
	font-size: 2em;
}

/* link sotto Ready */
.links a {
	color: grey;
}

/* Scritta in fondo del copyright */
.copyright {
	color: grey;
	margin: 50px;
}

/* Le 3 icone dei social */
.social>a {
	font-size: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
	margin: 8px;
	color: #fff;
	opacity: 0.75;
}