/* ===================================================================================================== */
/* ======================================= Stile dei dati del libro ==================================== */
/* ===================================================================================================== */

.dettagliLibro{
	padding: 20px;
	margin: 2.5em auto;
	width: 400px;
	height: 230px;
	border-radius: 0.5em;
	border: 3px solid #3300ff;
	background: #f2f1f8;
}

.dettagliLibro .copertinaLibro{
	float: left;
	margin: 1em;
}

.dettagliLibro .titoloLibro {
	font-size: 1.3em;
	font-style: italic;
}

.dettagliLibro h4 {
	font-size: 0.625em;
}

/* ===================================================================================================== */
/* ==================================== Stile del form di recensione =================================== */
/* ===================================================================================================== */

.inserimentoRecensione {
	width: 100%;
	background-color: #f2f1f8;
	padding: 20px;
}

.spazio-recensione {
	padding: 20px;
	width: 100%;
	height: 500px;
	margin: 1em;
	border-radius: 0.5em;
	border: 3px solid #3300ff;
	background: #f2f1f8;
}

.spazio-recensione span, .spazio-voto span {
	font-size: 1.8em;
	float:left;
	padding: 0 10px;
}

input[type=text], textarea {
	width: 80%;
	padding: 12px 20px;
	margin: 8px 0;
	margin-left: 10%;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 0.5em;
    
}

#testoRecensione {
	height: 340px;
	resize: vertical;
}

/* ========================================== per il voto ========================================== */
.spazio-voto{
	padding: 20px;
	width: 30%;
	height: 90px;
	margin: 1em;
	border-radius: 0.5em;
	border: 3px solid #3300ff;
	background: #f2f1f8;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* ======================================== stile del bottone ======================================== */

button {
	background: #000066;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 25%;
	border-radius: 0.5em;
	font-size: 1.3em;
}

button:hover {
	background: #3300ff;
}