/* Stile del body */

/* Il box-sizing universale */
* {
	box-sizing: border-box;
}

/* Stile del contenitore delle colonne */
.row {
	display: flex;
	justify-content : space-evenly;
	flex-wrap: wrap;
}

.row:after{
	clear : both;
}

/* ======================================== link generali ======================================== */

a {
	color: #3300ff;
}
a:hover {
	text-decoration: none;
}

/* Le due colonne side e main sono una diversa dall'altra, ma stanno vicine */

/* ===================================================================================================== */
/* ===================================== Stile della colonna di sinistra =============================== */
/* ===================================================================================================== */
.side {
	width: 35%;
	background-color: #f2f1f8;
	padding: 20px;
}

.side img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width:70%;
	max-height:100%;
}

/* ===================================================================================================== */
/* ===================================== Stile della colonna dei dettagli ============================== */
/* ===================================================================================================== */
.spazioDettagli {
	width: 65%;
	background-color: white;
	padding: 20px;
}

/* ===================================== spazioDettagli ===================================== */

/* Titolo libro */
h1 {
	font-size: 2.5em;
}

/* Autore libro */
h2 {
	font-size: 1.5em;
}

/* Casa Editrice libro */
h3 {
	font-size: 0.9375em;
}

/* Sinossi libro */
p {
	font-size: 0.9375em;
}

/* ===================================================================================================== */
/* ================================== Stile dello spazio delle recensioni ============================== */
/* ===================================================================================================== */
.spazioRecensioni {
	flex: 90%;
	background-color: white;
	padding: 20px;
}

/* Quando lo screen è largo meno di 700px, le due colonne non sono piu' side-by-side,
ma si mettono una sopra l'altra, rimanendo tutte visibili */
@media screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}
}

/* ===================================== bottoni ===================================== */

.btn {
	border: none;
	background-color: inherit;
	padding: 14px 28px;
	font-size: 1em;
	cursor: pointer;
	display: inline-block;
}

/* Come cambia lo stile dei bottoni quando ci passi sopra col cursore */
.btn:hover {
	background: #E0FFFF;
}

/* Particolare del bottone per recensire */
.recensisci {
	color: black;
}