/* ===================================== area della modifica ===================================== */

.container{
	padding: 20px;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	margin-left: 2.5em;
	margin-right: 2.5em;
    border-radius: 0.5em;
	border: 3px solid #3300ff;
    background: #f2f1f8;
    height: 22em;
}

h1 {
	font-size: 2em;
}

a, a:hover {
	text-decoration: none;
	color: white;
}

input[type=text] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	text-align: center;
	border-radius: 0.5em;
}

/* ======================================== stile del bottone ======================================== */

button {
	background: #000066;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 25%;
	border-radius: 0.5em;
	font-size: 1.3em;
}

button:hover {
	background: #3300ff;
}