.spazioRisultati h1 {
	font-size: 20px;
}

.spazioRisultati h2 {
	font-size: 20px;
}

.spazioRisultati h3 {
	font-size: 20px;
}

.spazioRisultati h4 {
	font-size: 20px;
}

.spazioRisultati p {
	font-size: 20px;
}
