/* Il box-sizing universale */
* {
	box-sizing: border-box;
}

/* Stile del contenitore delle colonne */
.row {
	display: flex;
	justify-content : space-evenly;
	flex-wrap: wrap;
}

.row:after{
	clear : both;
}

/* Le due colonne side e spazioRisultati sono una diversa dall'altra, ma stanno vicine */
/* Quando lo screen è largo meno di 400px, le colonne non sono piu' side-by-side,
ma si mettono una sopra l'altra, rimanendo visibili */
@media screen and (max-width: 400px) {
    .row {
        flex-direction: column;
    }
}

/* ===================================================================================================== */
/* ===================================== Stile della colonna di sinistra =============================== */
/* ===================================================================================================== */
.side {
	width: 30%;
	background-color: #f2f1f8;
	padding: 20px;
}

/* =========================================== Stile della ricerca ===================================== */

.side input[type=search], input[type=checkbox] {
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 1.0625em;
	border: 1px solid #ccc;
	box-sizing: border-box;
	text-align: center;
	border-radius: 0.5em;
}

.side input[type=checkbox] {
    margin: .4rem;
}

/* Toglie la pallina di fronte agli elementi dell'elenco */
.side ul{
	list-style: none;
}

button {
	background: linear-gradient(to right, #3300ff, #000066);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 15%;
	border-radius: 0.5em;
}

button:hover {
	background: #3300ff;
}

/* ===================================================================================================== */
/* ==================================== Stile della colonna dei risultati ============================== */
/* ===================================================================================================== */
.spazioRisultati {
	width: 65%;
	background-color: white;
	padding: 20px;
}

.spazioRisultati ul {
	padding: 1em;
	list-style: none;
}

.spazioRisultati li {
	display: block flex;
}