.spazioRisultati .logoCasaEditrice{
	float: left;
	margin: 1em;
}

.spazioRisultati h1 .nomeCasaEditrice {
	font-size: 0.625em;
	font-style: italic;
}

.spazioRisultati h2 .sedeCasaEditrice {
	font-size: 0.625em;
}

.spazioRisultati h2 .websiteCasaEditrice {
	font-size: 0.625em;
}

.spazioRisultati h2 .dataFondazioneCasaEditrice {
	font-size: 0.625em;
}
