.spazioRisultati .immagineAutore{
	float: left;
	margin: 1em;
}

.spazioRisultati h1 .nomeAutore {
	font-size: 0.625em;
	font-style: italic;
}

.spazioRisultati h2 {
	font-size: 0.9375em;
}

.spazioRisultati p .titoliLibri {
	font-size: 0.9375em;
}
