.spazioRisultati .copertinaLibro{
	float: left;
	margin: 1em;
}

.spazioRisultati h1 .titoloLibro {
	font-size: 0.625em;
	font-style: italic;
}

.spazioRisultati h2 .dataPubblicazioneLibro {
	font-size: 0.625em;
}

.spazioRisultati h2 .autoriLibro{
	font-size: 0.625em;
}

.spazioRisultati p .sinossiLibro {
	font-size: 1.5em;
}

.spazioRisultati p .isbnLibro{
	font-size: 1.5em;
}